node_modules/
.turbo/
**/.turbo/
.DS_Store
**/.DS_Store

.expo/
dist/
**/dist/
coverage/

apps/web/.next/
apps/web/.vercel/
apps/mobile/.expo/
apps/mobile/android/
apps/mobile/ios/
apps/mobile/modules/**/android/build/

.env
.env.*
!.env.example

*.log
*.tsbuildinfo
